@font-face {
  font-family: "Gotham";
  src: url("/Assets/fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Gotham";
  src: url("/Assets/fonts/Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/Assets/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
